.header__ {
  position: fixed;
  width: 100%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  z-index: 2;
  background: white;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3rem;
  padding: 0 10px;
}

.spacer {
  height: 7rem;
}

.Toastify__progress-bar--default {
  background: linear-gradient(to right, #007aff, #34aadc, #5856d6);
}