.auth__template__register {
  display: block;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: grey;
}

.auth__template__login {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: grey;
}

.auth__float-box {
  display: block;
  padding: 2rem;
  width: 360px;
  background: white;
  border-radius: 2px;
}

.auth__brand {
  display: block;
  padding-bottom: 2rem;
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;
}
